# Port on the host machine used to access WordPress
HOST_PORT=8080

# Port exposed by the WordPress container
CONTAINER_PORT=80


# Database host and port used by WordPress
WORDPRESS_DB_HOST=db:3306

# Name of the WordPress database
WORDPRESS_DB_NAME=wordpress

# Database user used by WordPress
WORDPRESS_DB_USER=wordpress

# Password for the WordPress database user
WORDPRESS_DB_PASSWORD=your_password_here


# Name of the MySQL database to create
MYSQL_DATABASE=wordpress

# MySQL user to create for WordPress
MYSQL_USER=wordpress

# Password for the MySQL user
MYSQL_PASSWORD=your_password_here

# Root password for the MySQL database
MYSQL_ROOT_PASSWORD=your_root_password_here